* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
	font-family: Arial;
  color: rgb(255, 255, 255);
  height: 100%;
}

#wrapper {
	position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto 50px;
	max-width: 1024px;
  background-color: rgba(255, 255, 255, .3);
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: -20px 15px 50px 20px rgba(0,0,0,.6);
	box-shadow: -20px 15px 50px 20px rgba(0,0,0,.6);

}

/* Underline Animation on Hover: https://codepen.io/rm/pen/ldhon */

.links {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

.links a {
  display: inline-block;
  width: 100%;
  padding: .75rem 0;
  margin: 0 auto;
  text-decoration: none;
  color: black;
}
 

hr {
  height: .25rem;
  width: 100%;
  margin: 0;
  background: rgb(128, 170, 198);
  border: none;
  transition: .3s ease-in-out;
}

/* For the Hover Effect */

#row ul.img-list {
  list-style-type: none;
  text-align: center;
  margin: 20px auto 20px 5px;
}

#row ul.img-list li {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 0 1em 1em 0;
  position: relative;

}

#row ul.img-list img {
	border-radius: 28px; 
	-moz-border-radius: 28px; 
	-webkit-border-radius: 28px; 
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  width: 200px;
  left: 0;
  position: absolute;
  top: 0;
  border-radius: 28px; 
  -moz-border-radius: 28px; 
  -webkit-border-radius: 28px;   
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;

}

/* Font things */

.title, .parallaxTitle {
	font-size: 80px;
	text-align: center;
	padding-top: 30px;
  color: rgb(39,51,59);
  font-family: 'Amatic SC', cursive;
}

.subtitle {
	font-family: 'Fjalla One', cursive;
  text-align: center;
	font-size: 30px;
	padding: 10px 0 30px;
  color: rgb(128, 170, 198);
}

.parallaxTitle {
  text-align: center;
  width: 100%;
}

.end {
  color: rgb(128, 170, 198);
}

.to-top {
  font-size: 30px;
  text-align: center;
}

/* Fun with Parallax Scrolling */

#slide2 {
    /* The image used */
    background-image: url('../images/rawpixel-blur.jpg');

    /* Fixed height */
    height: 1500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 2;
}

#slide3 {
    /* The image used */
    background-image: url('../images/caleb-jones-blur.jpg');

    /* Fixed height */
    height: 1024px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#slide4 {
    /* The image used */
    background-image: url('../images/jonathan-pendleton-blur.jpg');

    /* Fixed height */
    height: 1024px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.overlap {
  padding-top: 480px;
  vertical-align: middle;
}

.last {
  padding-bottom: 50px;
  margin-right: 0;
} 